.photo-list__fav-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.photo-list__fav-icon-svg {
  color: #ccc;
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}

.photo-list__fav-icon-svg--active {
  color: red;
}
